body {
  display: flex; /* خلي البودي فلكس */
  flex-direction: column; /* خلي ترتيب العناصر جوا البودي عمودي (عمود) */
}

main {
  display: flex; /* خلي المين فلكس */
  flex-direction: row; /* خلي ترتيب العناصر جوا المين صف */
  flex: auto; /* خلي حجم المين تلقائي */
}
article {
  flex: 2; /* ياخد مكان 2 وحدات */
  overflow-y: auto; /* يضيف تمرير رأسي لو المحتوى طويل */
}

aside {
  flex: 1; /* ياخد مكان وحدة واحدة */
  overflow-y: auto; /* يضيف تمرير رأسي لو المحتوى طويل */
}
